main.theme-5 {
  --mainTextAndDeclinedEvents: #000000;
  --calendarEventText: #ffffff;
  --linesAndIcons: #d5d5d5;
  --monthsOnMobileDropdown: #f2f1f2;
  --primaryAndMainCalendar: #5285ed;
  --secondaryCalendar: #ecb63f;
  --thirdCalendar: #459a5f;
  --timeLine: #cd5041;
  --declinedEvent: #808080;
  --alertWarningDeclined: #cd5041;
  --headerBackground: #ffffff;

  --calendarColour4: #8dd255;
  --calendarColour5: #9845c4;
  --calendarColour6: #d81b60;
  --calendarColour7: #60cbae;
  --calendarColour8: #528fc8;
  --calendarColour9: #b39ddb;
  --calendarColour10: #bf6342;
}
