.nylas-composer {
  --background: rgb(40, 43, 43);
  --background-muted: #454949;
  --text: #fff;
  --text-light: #b0b0c0;
  --text-secondary: #ffffff;
  --font: lato, sans-serif;
  --font-size: 14px;
  --font-size-small: 12px;

  --border: #282828;
  --primary: #00c1a0;
  --primary-light: #434343;
  --primary-dark: #00a88b;
  --icons: #8e8e98;
  --header-background: var(--background);

  --success: white;
  --success-light: var(--primary);

  --danger: #ffffff;
  --danger-light: #ff5454;

  --info: white;
  --info-light: var(--primary-light);
}
