@use "sass:list";

/* TODO: Deprecate original vars and use theme vars instead in 2.0.0
--primaryAndMainCalendar
--secondaryCalendar
--thirdCalendar
--calendarColour4
--calendarColour5
--calendarColour6
--calendarColour7
--calendarColour8
--calendarColour9
--calendarColour10
*/
$themeColours: var(
    --nylas-agenda-calendar-1-bg-color,
    var(--primaryAndMainCalendar, var(--theme-calendar-1-bg-color))
  ),
  var(
    --nylas-agenda-calendar-2-bg-color,
    var(--secondaryCalendar, var(--theme-calendar-2-bg-color))
  ),
  var(
    --nylas-agenda-calendar-3-bg-color,
    var(--thirdCalendar, var(--theme-calendar-3-bg-color))
  ),
  var(
    --nylas-agenda-calendar-4-bg-color,
    var(--calendarColour4, var(--theme-calendar-4-bg-color))
  ),
  var(
    --nylas-agenda-calendar-5-bg-color,
    var(--calendarColour5, var(--theme-calendar-5-bg-color))
  ),
  var(
    --nylas-agenda-calendar-6-bg-color,
    var(--calendarColour6, var(--theme-calendar-6-bg-color))
  ),
  var(
    --nylas-agenda-calendar-7-bg-color,
    var(--calendarColour7, var(--theme-calendar-7-bg-color))
  ),
  var(
    --nylas-agenda-calendar-8-bg-color,
    var(--calendarColour8, var(--theme-calendar-8-bg-color))
  ),
  var(
    --nylas-agenda-calendar-9-bg-color,
    var(--calendarColour9, var(--theme-calendar-9-bg-color))
  ),
  var(
    --nylas-agenda-calendar-10-bg-color,
    var(--calendarColour10, var(--theme-calendar-10-bg-color))
  );

$numberOfCalendarsToSupport: list.length($themeColours);

.events {
  &.diff-by-event {
    @for $i from 1 through $numberOfCalendarsToSupport - 1 {
      $colour: #{list.nth($themeColours, $i % list.length($themeColours))};
      .event:nth-of-type(#{list.length($themeColours)}n
          + #{$i}):not(.event-detail),
      .event:nth-of-type(#{list.length($themeColours)}n
          + #{$i}).event-detail.status-yes
        .header,
      .event:nth-of-type(#{list.length($themeColours)}n
          + #{$i}).event-detail.status-undefined
        .header {
        background-color: $colour;

        &:not(.status-maybe):not(.status-noreply)::before {
          content: "";
          background-color: $colour;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 0px;
          filter: brightness(70%);
        }
      }
    }
  }

  &.diff-by-calendar {
    @for $i from 0 through $numberOfCalendarsToSupport {
      $colour: #{list.nth($themeColours, $i % list.length($themeColours) + 1)};
      .event[data-calendar-id="#{$i}"]:not(.event-detail),
      .event[data-calendar-id="#{$i}"].event-detail.status-yes .header,
      .event[data-calendar-id="#{$i}"].event-detail.status-undefined .header {
        background-color: $colour;
      }
      .event[data-calendar-id="#{$i}"].status-noreply,
      .event[data-calendar-id="#{$i}"].status-noreply.event-detail .header,
      .event[data-calendar-id="#{$i}"].status-noreply.event-detail .details,
      .event[data-calendar-id="#{$i}"].status-maybe,
      .event[data-calendar-id="#{$i}"].status-maybe.event-detail .header,
      .event[data-calendar-id="#{$i}"].status-maybe.event-detail .details {
        border-color: $colour;
        color: $colour;
      }
    }
  }

  .event:not(.event-detail.status-undefined) {
    &:hover {
      background-color: var(
        --nylas-agenda-event-hover-bg-color,
        var(
          --nylas-agenda-calendar-1-bg-color,
          var(--primaryAndMainCalendar, var(--theme-calendar-1-bg-color))
        )
      );
      color: var(
        --nylas-agenda-event-hover-color,
        var(
          --nylas-agenda-event-color,
          var(--calendarEventText, var(--theme-event-color))
        )
      );
    }
  }
}
