.theme-1 {
  --mainTextAndDeclinedEvents: #000000;
  --calendarEventText: #ffffff;
  --linesAndIcons: #d5d5d5;
  --monthsOnMobileDropdown: #f1f1f1;
  --primaryAndMainCalendar: #002db4;
  --secondaryCalendar: #315df2;
  --thirdCalendar: #078351;
  --timeLine: #36d2ac;
  --declinedEvent: #636671;
  --alertWarningDeclined: #ba7122;
  --headerBackground: #ffffff;

  --calendarColour4: #5fdb58;
  --calendarColour5: #49a643;
  --calendarColour6: #54d3b3;
  --calendarColour7: #648fdc;
  --calendarColour8: #a3cc3a;
  --calendarColour9: #9fce7b;
  --calendarColour10: #779138;
}

.theme-2 {
  --mainTextAndDeclinedEvents: #000000;
  --calendarEventText: #ffffff;
  --linesAndIcons: #d5d5d5;
  --monthsOnMobileDropdown: #f1f1f1;
  --primaryAndMainCalendar: #6300c6;
  --secondaryCalendar: #170075;
  --thirdCalendar: #003f9e;
  --timeLine: #d23636;
  --declinedEvent: #636671;
  --alertWarningDeclined: #eb8f24;
  --headerBackground: #ffffff;

  --calendarColour4: #813d9d;
  --calendarColour5: #549dd0;
  --calendarColour6: #c051dc;
  --calendarColour7: #b788d4;
  --calendarColour8: #674dd4;
  --calendarColour9: #687cdc;
  --calendarColour10: #5c518c;
}

.theme-3 {
  --mainTextAndDeclinedEvents: #000000;
  --calendarEventText: #ffffff;
  --linesAndIcons: #d5d5d5;
  --monthsOnMobileDropdown: #f1f1f1;
  --primaryAndMainCalendar: #1d9f51;
  --secondaryCalendar: #0400c4;
  --thirdCalendar: #19a7b0;
  --timeLine: #c12b73;
  --declinedEvent: #636671;
  --alertWarningDeclined: #ba1722;
  --headerBackground: #ffffff;

  --calendarColour4: #65c444;
  --calendarColour5: #4c7fdf;
  --calendarColour6: #6a9fe1;
  --calendarColour7: #70c08c;
  --calendarColour8: #37629d;
  --calendarColour9: #4dafd7;
  --calendarColour10: #3f7339;
}

.theme-4 {
  --mainTextAndDeclinedEvents: #ffffff;
  --calendarEventText: #ffffff;
  --secondaryText: #8b8e98;
  --linesAndIcons: #414247;
  --monthsOnMobileDropdown: #f1f1f1;
  --primaryAndMainCalendar: #1951fa;
  --secondaryCalendar: #002db4;
  --thirdCalendar: #078351;
  --timeLine: #7ae1c7;
  --declinedEvent: #636671;
  --alertWarningDeclined: #ba1722;
  --headerBackground: #414247;

  --calendarColour4: #466edb;
  --calendarColour5: #26af65;
  --calendarColour6: #6a95de;
  --calendarColour7: #335695;
  --calendarColour8: #60cbae;
  --calendarColour9: #308157;
  --calendarColour10: #54afda;
}

.theme-5 {
  --mainTextAndDeclinedEvents: #000000;
  --calendarEventText: #ffffff;
  --linesAndIcons: #d5d5d5;
  --monthsOnMobileDropdown: #f2f1f2;
  --primaryAndMainCalendar: #5285ed;
  --secondaryCalendar: #ecb63f;
  --thirdCalendar: #459a5f;
  --timeLine: #cd5041;
  --declinedEvent: #808080;
  --alertWarningDeclined: #cd5041;
  --headerBackground: #ffffff;

  --calendarColour4: #8dd255;
  --calendarColour5: #9845c4;
  --calendarColour6: #d81b60;
  --calendarColour7: #60cbae;
  --calendarColour8: #528fc8;
  --calendarColour9: #b39ddb;
  --calendarColour10: #bf6342;
}
