.nylas-composer {
  --composer-background-color: #fff;
  --composer-background-muted-color: #edf1ff;
  --composer-text-color: #00000;
  --composer-text-light-color: #6e6e7a;
  --composer-text-secondary-color: #ffffff;
  --composer-font: lato, sans-serif;
  --composer-font-size: 14px;
  --composer-font-size-small: 12px;

  --composer-border-color: #f4f4f4;
  --composer-primary-color: #0037e5;
  --composer-primary-light-color: #3f6bff;
  --composer-primary-dark-color: #00a88b;
  --composer-icons-color: #a5a6b9;
  --composer-header-background-color: var(--composer-background-color);

  --composer-success-color: white;
  --composer-success-light-color: var(--composer-primary-color);

  --composer-danger-color: #ff0000;
  --composer-danger-light-color: #ffdddd;

  --composer-info-color: var(--composer-primary-light-color);
  --composer-info-light-color: #d2dcff;
}
