**/node_modules/
.DS_Store
yarn-error.log
/cypress/screenshots/
/cypress/videos/
npm/*
.idea/
/tmp/
.env
*.log
components/**/index.js
components/**/index.js.map
components/**/nylas-component.css
components/**/main.js
components/**/main.js.map
components/**/styles.css
coverage
**/package-lock.json
