{
  "plugins": ["./node_modules/prettier-plugin-svelte"],
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "svelteSortOrder": "options-scripts-styles-markup",
  "bracketSameLine": true
}
