<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta charset="UTF-8" />
    <title>Email Demo</title>
    <link rel="shortcut icon" href="data:;base64,=" />
    <link rel="stylesheet" href="index.css" />
    <script src="../index.js"></script>
    <script>
      const thread = {
        account_id: "cou6r5tjgubx9rswikzvz9afb",
        drafts: [],
        first_message_timestamp: 1621472861,
        has_attachments: false,
        id: "db8z5xg97si2qio9z7md84fgk",
        labels: [
          {
            display_name: "Inbox",
            id: "3fhdx7sufj12vbhhjm5ecwcm4",
            name: "inbox",
          },
        ],
        last_message_received_timestamp: 1621472865,
        last_message_sent_timestamp: null,
        last_message_timestamp: 1621472865,
        messages: [
          {
            account_id: "cou6r5tjgubx9rswikzvz9afb",
            bcc: [],
            cc: [
              {
                email: "phil.r@nylas.com",
                name: "Phil Renaud",
              },
              {
                email: "review_requested@noreply.github.com",
                name: "Review requested",
              },
            ],
            date: 1621472861,
            files: [],
            from: [
              {
                email: "notifications@github.com",
                name: "Mostafa Rashed",
              },
            ],
            id: "epgslj6wocxcnuyy6h9yyle6v",
            labels: [
              {
                display_name: "Inbox",
                id: "3fhdx7sufj12vbhhjm5ecwcm4",
                name: "inbox",
              },
            ],
            object: "message",
            reply_to: [
              {
                email:
                  "reply+AAFOKBZZTCUKW3S3KF62NIF6WGLV3EVBNHHDK2QOAM@reply.github.com",
                name: "nylas/nylas-nodejs",
              },
            ],
            snippet:
              "Description #227 added support for event metadata, this PR enhances this feature and allows for a user to query metadata using either the metadata_key, or metadata_value, or metadata_pair par",
            starred: false,
            subject:
              "[nylas/nylas-nodejs] [59911] Add support for querying event metadata (#228)",
            thread_id: "db8z5xg97si2qio9z7md84fgk",
            to: [
              {
                email: "nylas-nodejs@noreply.github.com",
                name: "nylas/nylas-nodejs",
              },
            ],
            unread: true,
          },
          {
            account_id: "cou6r5tjgubx9rswikzvz9afb",
            bcc: [],
            body: "This is some manually-created body text. It's allowed to fully deviate from the snippet and you can even <marquee>include some html</marquee>",
            cc: [
              {
                email: "phil.r@nylas.com",
                name: "Phil Renaud",
              },
              {
                email: "review_requested@noreply.github.com",
                name: "Review requested",
              },
            ],
            date: 1621472862,
            files: [],
            from: [
              {
                email: "notifications@github.com",
                name: "Mostafa Rashed",
              },
            ],
            id: "alix2bbga2afjikdma1q0jbyc",
            labels: [
              {
                display_name: "Inbox",
                id: "3fhdx7sufj12vbhhjm5ecwcm4",
                name: "inbox",
              },
            ],
            object: "message",
            reply_to: [
              {
                email:
                  "reply+AAFOKBZZTCUKW3S3KF62NIF6WGLV3EVBNHHDK2QOAM@reply.github.com",
                name: "nylas/nylas-nodejs",
              },
            ],
            snippet:
              "@mrashed-dev requested your review on: #228 [59911] Add support for querying event metadata. — You are receiving this because your review was requested. Reply to this email directly, view it ",
            starred: false,
            subject:
              "Re: [nylas/nylas-nodejs] [59911] Add support for querying event metadata (#228)",
            thread_id: "db8z5xg97si2qio9z7md84fgk",
            to: [
              {
                email: "nylas-nodejs@noreply.github.com",
                name: "nylas/nylas-nodejs",
              },
            ],
            unread: true,
          },
          {
            account_id: "cou6r5tjgubx9rswikzvz9afb",
            bcc: [],
            cc: [
              {
                email: "phil.r@nylas.com",
                name: "Phil Renaud",
              },
              {
                email: "review_requested@noreply.github.com",
                name: "Review requested",
              },
            ],
            date: 1621472865,
            files: [],
            from: [
              {
                email: "notifications@github.com",
                name: "clubhouse[bot]",
              },
            ],
            id: "dyo31yp47hbrb5nj90a1s5j5c",
            labels: [
              {
                display_name: "Inbox",
                id: "3fhdx7sufj12vbhhjm5ecwcm4",
                name: "inbox",
              },
            ],
            object: "message",
            reply_to: [
              {
                email:
                  "reply+AAFOKB4ULDXTTZHEL54A4LF6WGLWDEVBNHHDK2QOAM@reply.github.com",
                name: "nylas/nylas-nodejs",
              },
            ],
            snippet:
              "This pull request has been linked to Clubhouse Story #59911: Node SDK - Add support for querying event metadata. — You are receiving this because your review was requested. Reply to this emai",
            starred: false,
            subject:
              "Re: [nylas/nylas-nodejs] [59911] Add support for querying event metadata (#228)",
            thread_id: "db8z5xg97si2qio9z7md84fgk",
            to: [
              {
                email: "nylas-nodejs@noreply.github.com",
                name: "nylas/nylas-nodejs",
              },
            ],
            unread: true,
          },
        ],
        object: "thread",
        participants: [
          {
            email: "review_requested@noreply.github.com",
            name: "Review requested",
          },
          {
            email: "notifications@github.com",
            name: "clubhouse[bot]",
          },
          {
            email: "notifications@github.com",
            name: "Mostafa Rashed",
          },
          {
            email: "nylas-nodejs@noreply.github.com",
            name: "nylas/nylas-nodejs",
          },
          {
            email: "phil.r@nylas.com",
            name: "Phil Renaud",
          },
        ],
        snippet:
          "This pull request has been linked to Clubhouse Story #59911: Node SDK - Add support for querying event metadata. — You are receiving this because your review was requested. Reply to this emai",
        starred: false,
        subject:
          "[nylas/nylas-nodejs] [59911] Add support for querying event metadata (#228)",
        unread: true,
        version: 1,
      };
      document.addEventListener("DOMContentLoaded", function () {
        const email = document.getElementById("test-email");
        email.addEventListener("messageClicked", function (event) {
          console.log(event.detail);
        });
        email.addEventListener("threadClicked", function (event) {
          console.log(event.detail);
        });
        const passedThread = document.getElementsByTagName("nylas-email")[1];
        passedThread.thread = thread;
        passedThread.click_action = "default";
        // setting show_expanded_email_view_onload to true for demo purpose
        passedThread.show_expanded_email_view_onload = true;
        const fetchedThread = document.getElementsByTagName("nylas-email")[0];
        fetchedThread.show_expanded_email_view_onload = true;

        // TODO this but as a cypress test
        setTimeout(() => {
          console.log("Changing out the thread subject");
          thread.id = "beepboop";
          thread.snippet = "boop!";
          thread.subject = "beep!";
          passedThread.thread = thread;
        }, 5000);

        const passedEmail = document.getElementsByTagName("nylas-email")[3];
        passedEmail.message = thread.messages[1];
      });
    </script>
  </head>

  <body>
    <div id="emails"></div>
    <div class="demo">
      <p class="demo-index demo-head">Demo 1</p>
      <h2 class="demo-head">Fetched thread</h2>
      <p class="demo-description demo-head">
        Fetching a single thread of emails for the passed thread_id prop
      </p>
      <nylas-email
        id="test-email"
        thread_id="96qbfi1ksxs7cydw3bo6o34oe"
        click_action="default">
      </nylas-email>
    </div>
    <div class="demo">
      <p class="demo-index demo-head">Demo 2</p>
      <h2 class="demo-head">Manually-passed thread</h2>
      <p class="demo-description demo-head">
        Fetching a manually passed thread of emails, that's being edited after 5
        seconds
      </p>
      <nylas-email id="test-email"></nylas-email>
    </div>
    <div class="demo">
      <p class="demo-index demo-head">Demo 3</p>
      <h2 class="demo-head">Fetched message</h2>
      <p class="demo-description demo-head">
        Fetching a single message for the passed message_id prop
      </p>
      <nylas-email id="test-email" message_id="ddc8pr2orgim5lh4a82p35i5e">
      </nylas-email>
    </div>

    <div class="demo">
      <p class="demo-index demo-head">Demo 4</p>
      <h2 class="demo-head">Manually-passed message</h2>
      <p class="demo-description demo-head">
        Fetching a manually passed message, that's being edited after 5 seconds
      </p>
      <nylas-email id="test-email"></nylas-email>
    </div>
  </body>
</html>
