<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta charset="UTF-8" />
    <title>Agenda Demo</title>
    <link rel="shortcut icon" href="data:;base64,=" />
    <style>
      html,
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
    <script src="../index.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const saveEventModal = document.querySelector("div.save-event");
        const agenda = document.querySelector("nylas-agenda");
        const titleInput = document.querySelector("input#title");
        const startTimeInput = document.querySelector("input#start-time");
        const endTimeInput = document.querySelector("input#end-time");
        const colorByInput = document.querySelector('[name="color-by-event"]');

        agenda.events = [
          {
            account_id: "1xrddnl99frq3b7son9j32aba",
            busy: true,
            calendar_id: "9ozdjxev7y3zrh3rdifzms8ok",
            conferencing: null,
            description: null,
            hide_participants: false,
            ical_uid: "38o0noqeqjb20cks7s6blec05t@google.com",
            id: "5rt8qvw9n41jmz8csxpqy1kln_20220223T150000Z",
            location: null,
            master_event_id: "5rt8qvw9n41jmz8csxpqy1kln",
            object: "event",
            owner: " <nylascypresstest@gmail.com>",
            participants: [],
            read_only: false,
            reminders: null,
            status: "confirmed",
            title: "another one",
            visibility: null,
            when: {
              end_time: 1645630200,
              object: "timespan",
              start_time: 1645628400,
            },
            relativeStartTime: 0.4166666666666667,
            relativeRunTime: 0.020833333333333332,
            relativeOverlapWidth: 1,
            relativeOverlapOffset: 0,
          },
          {
            account_id: "1xrddnl99frq3b7son9j32aba",
            busy: false,
            calendar_id: "9ozdjxev7y3zrh3rdifzms8ok",
            conferencing: null,
            description: null,
            hide_participants: false,
            ical_uid: "205i39863jtag4bssaa79eoskl@google.com",
            id: "2bx26nbemf5roon6gwkcmfkz_20220224",
            location: null,
            master_event_id: "2bx26nbemf5roon6gwkcmfkz",
            object: "event",
            owner: " <nylascypresstest@gmail.com>",
            participants: [],
            read_only: false,
            reminders: null,
            status: "confirmed",
            title: "Test All Day Event",
            visibility: null,
            when: {
              date: "2022-02-22",
              object: "date",
            },
          },
        ];

        let newEvent, save, cancel, update;
        agenda.event_created = (event, saveEvent, cancelEvent, updateEvent) => {
          saveEventModal.style.display = "block";
          newEvent = event;
          titleInput.value = newEvent.title;
          startTimeInput.value = new Date(
            newEvent.when.start_time * 1000,
          ).toLocaleString("en-US", {
            hour: "numeric",
            minute: "numeric",
            hour12: true,
            timeZone:
              agenda.timezone ??
              Intl.DateTimeFormat().resolvedOptions().timeZone,
          });
          endTimeInput.value = new Date(
            newEvent.when.end_time * 1000,
          ).toLocaleString("en-US", {
            hour: "numeric",
            minute: "numeric",
            hour12: true,
            timeZone:
              agenda.timezone ??
              Intl.DateTimeFormat().resolvedOptions().timeZone,
          });
          save = saveEvent;
          cancel = cancelEvent;
          update = updateEvent;
        };

        function convertTimeTo24h(time12h) {
          const [time, modifier] = time12h.split(" ");
          let [hours, minutes] = time.split(":");
          if (hours === "12") {
            hours = "00";
          }
          if (modifier === "PM") {
            hours = parseInt(hours, 10) + 12;
          }

          return { hours, minutes };
        }

        function convertEventTimes() {
          const currentDay = new Date(newEvent.when.start_time * 1000);
          const startTime24h = convertTimeTo24h(startTimeInput.value);
          const endTime24h = convertTimeTo24h(endTimeInput.value);

          if (
            !startTime24h.hours ||
            startTime24h.hours > 24 ||
            !startTime24h.minutes ||
            startTime24h.minutes > 59 ||
            !endTime24h.hours ||
            endTime24h.hours > 24 ||
            !endTime24h.minutes ||
            endTime24h.minutes > 59 ||
            isNaN(
              new Date(
                new Date().setHours(
                  startTime24h.hours,
                  startTime24h.minutes,
                  0,
                  0,
                ),
              ).getTime(),
            ) ||
            isNaN(
              new Date(
                new Date().setHours(endTime24h.hours, endTime24h.minutes, 0, 0),
              ).getTime(),
            ) ||
            new Date(
              new Date().setHours(
                startTime24h.hours,
                startTime24h.minutes,
                0,
                0,
              ),
            ).getTime() >=
              new Date(
                new Date().setHours(endTime24h.hours, endTime24h.minutes, 0, 0),
              ).getTime()
          ) {
            return false;
          }

          newEvent.when.start_time = currentDay.setHours(
            startTime24h.hours,
            startTime24h.minutes,
            0,
            0,
          );
          newEvent.when.end_time = currentDay.setHours(
            endTime24h.hours,
            endTime24h.minutes,
            0,
            0,
          );
          return true;
        }

        saveEventModal.addEventListener("click", (event) => {
          if (event.target.matches("button.save")) {
            newEvent.title = titleInput.value;
            convertEventTimes();
            save(newEvent);

            saveEventModal.style.display = "none";
          } else if (event.target.matches("button.cancel")) {
            cancel();
            saveEventModal.style.display = "none";
          }
        });

        titleInput.addEventListener("input", (event) => {
          newEvent.title = titleInput.value;
          const shouldUpdate = convertEventTimes();
          if (shouldUpdate) {
            update(newEvent);
          }
        });

        startTimeInput.addEventListener("input", (event) => {
          const shouldUpdate = convertEventTimes();
          if (shouldUpdate) {
            update(newEvent);
          }
        });

        endTimeInput.addEventListener("input", (event) => {
          const shouldUpdate = convertEventTimes();
          if (shouldUpdate) {
            update(newEvent);
          }
        });

        document.querySelectorAll("nylas-agenda").forEach((element, i) => {
          element.addEventListener("manifestLoaded", (event) => {
            let { detail } = event;
            console.log("manifest loaded", detail);
          });
          element.addEventListener("eventsLoaded", (event) => {
            let { detail } = event;
            console.log("events loaded", detail);
          });
          element.addEventListener("dateChange", (newDate) => {
            let { detail } = event;
            console.log("date changed", detail);
          });
          element.addEventListener("onError", (event) => {
            console.log("silent error:", event.detail);
          });
        });

        let i = document.querySelector("input.start");
        let i2 = document.querySelector("input.end");
        let autoTimeCheckbox = document.querySelector("input.auto-time");
        let condensedBox = document.querySelector("input.condensed-view");
        let tickBox = document.querySelector("input.hide-ticks");
        let theme = document.querySelectorAll("input[name='theme']");

        i.addEventListener(
          "input",
          function () {
            document.querySelectorAll("nylas-agenda").forEach((element) => {
              element.start_minute = i.value;
            });
            document.querySelector("span.start").innerHTML = new Date(
              new Date().setHours(0, i.value, 0, 0),
            ).toLocaleTimeString();
          },
          false,
        );

        i2.addEventListener(
          "input",
          function () {
            document.querySelectorAll("nylas-agenda").forEach((element) => {
              element.end_minute = i2.value;
            });
            document.querySelector("span.end").innerHTML = new Date(
              new Date().setHours(0, i2.value, 0, 0),
            ).toLocaleTimeString();
          },
          false,
        );

        autoTimeCheckbox.addEventListener(
          "input",
          function () {
            document.querySelectorAll("nylas-agenda").forEach((element) => {
              element.auto_time_box = autoTimeCheckbox.checked;
            });
          },
          false,
        );

        condensedBox.addEventListener(
          "input",
          function () {
            document.querySelectorAll("nylas-agenda").forEach((element) => {
              element.condensed_view = condensedBox.checked;
            });
          },
          false,
        );
        tickBox.addEventListener(
          "input",
          function () {
            document.querySelectorAll("nylas-agenda").forEach((element) => {
              element.hide_ticks = tickBox.checked;
            });
          },
          false,
        );
        colorByInput.addEventListener(
          "input",
          function () {
            document.querySelectorAll("nylas-agenda").forEach((element) => {
              element.color_by = colorByInput.checked ? "event" : "calendar";
            });
          },
          false,
        );
        theme.forEach((themeNode) => {
          themeNode.addEventListener(
            "change",
            function () {
              document.querySelectorAll("nylas-agenda").forEach((element) => {
                element.theme = themeNode.value;
              });
            },
            false,
          );
        });
      });
    </script>
    <style>
      body {
        overflow: hidden;
        padding: 0;
        margin: 0;
        height: 100vh;
      }

      aside.controls {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        width: 250px;
        background: #333;
        padding: 0.5rem;
        color: white;
      }

      aside.controls label {
        display: block;
      }

      div.save-event {
        display: none;
        padding: 5px;
        position: fixed;
        z-index: 2;
        top: 40%;
        right: 40%;
        width: 20%;
        min-width: 240px;
        background: #333;
        padding: 0.5rem;
        color: white;
      }

      div.save-event > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    </style>
  </head>

  <body>
    <aside class="controls">
      <label>
        <strong>Start Time</strong>
        <input
          class="start"
          type="range"
          min="0"
          max="1440"
          step="1"
          value="1" />
        <span class="start"></span>
      </label>
      <label>
        <strong>End Time</strong>
        <input
          class="end"
          type="range"
          min="0"
          max="1440"
          step="1"
          value="1440" />
        <span class="end"></span>
      </label>
      <hr />
      <strong>Automatically determine start/end</strong>
      <input type="checkbox" class="auto-time" />
      <hr />
      <strong>Hide ticks</strong>
      <input type="checkbox" class="hide-ticks" />
      <hr />
      <strong>Condensed View</strong>
      <input type="checkbox" class="condensed-view" />
      <hr />
      <strong>Color By Event:</strong>
      <input type="checkbox" name="color-by-event" />
      <hr />
      <strong>Theme:</strong>
      <input type="radio" name="theme" value="theme-1" />
      <input type="radio" name="theme" value="theme-2" />
      <input type="radio" name="theme" value="theme-3" />
      <input type="radio" name="theme" value="theme-4" />
      <input type="radio" name="theme" value="theme-5" />
    </aside>

    <div class="save-event">
      <h3>Save Event</h3>
      <hr />
      <div>
        <span>Event Name</span>
        <input id="title" />
      </div>
      <div>
        <span>Start Time</span>
        <input id="start-time" />
      </div>
      <div>
        <span>End Time</span>
        <input id="end-time" />
      </div>
      <hr />
      <div>
        <button class="save">Save</button>
        <button class="cancel">Cancel</button>
      </div>
    </div>

    <!-- <nylas-agenda id="demo-agenda" auto_time_box="false" allow_event_creation="true" allow_date_change="true"
    hide_current_time="false" color_by="event">
  </nylas-agenda> -->

    <nylas-agenda auto_time_box="false" color_by="event"> </nylas-agenda>
  </body>
</html>
