@mixin checkbox {
  padding: 4px 2px 2px 2px;
  width: 1rem;
  height: 1rem;
  background: var(--grey-lighter);
  border-radius: 4px;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;

  transition-duration: 0.3s;

  &:hover {
    background: var(--grey-light);
  }

  &:checked {
    background: var(--blue);

    &::before {
      content: " ";
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.66344 0.0402832L9.98373 1.36062L3.80759 7.53676L0 3.72925L1.32029 2.40891L3.80759 4.89613L8.66344 0.0402832Z' fill='white'/%3E%3C/svg%3E%0A");
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      text-align: center;
    }
  }
}
