@mixin loader {
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &::after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $themeColour;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

/** progress bar loading animation **/
@mixin progress-bar(
  $topPosition,
  $leftPosition,
  $backgroundColor,
  $progressBarColor
) {
  @keyframes progress {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  &::after {
    background-color: $progressBarColor;
    z-index: -1;
  }
  &::before {
    animation: progress 2s ease-in-out infinite;
    background-color: $backgroundColor;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    height: 4px;
    left: $leftPosition;
    position: absolute;
    top: $topPosition;
  }
}
