@mixin modal-styles {
  // #region modal-style
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-overlay, 1001);
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    .modal {
      position: relative;
      width: calc(100% - 5rem);
      margin: 1rem;

      z-index: var(--z-index-modal, 1002);

      background-color: white;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      .title {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;

        display: flex;
        align-items: center;

        color: var(--black);
      }

      .description {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #636671;
        margin-top: 0.5rem;
      }

      .footer {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.75rem;
        margin-top: 1.5rem;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: sans-serif;
          border-radius: 4px;
          padding: 0.5rem 1rem;
          cursor: pointer;
          &.danger {
            background: #ee3248;
            color: white;
          }
          &.cancel {
            background: transparent;
          }
        }
      }
    }
  }
  @media #{$desktop} {
    .overlay {
      .modal {
        width: 365px;

        .footer {
          width: inherit;
        }
      }
    }
  }
  // #endregion modal-style
}
