<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta charset="UTF-8" />
    <title>Day Demo</title>
    <link rel="shortcut icon" href="data:;base64,=" />
    <script src="../index.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("nylas-day").forEach((element, i) => {
          element.day = new Date(new Date().setDate(new Date().getDate()));
        });
      });
    </script>

    <style>
      html, body {
        margin: 0;
        padding: 0;
      }
      main {
        border: 10px solid red;
        width: calc(100vw - 20px);
        height: calc(100vh - 20px);
        {# filter: blur(18px) contrast(2); #}
      }
    </style>
  </head>
  <body>
    <main>
      <!-- pass access_token to see your data. Pass calendar_ids optionally to also see your events data. -->
      <nylas-day id="open-day-demo"></nylas-day>
    </main>
  </body>
</html>
