<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta charset="UTF-8" />
    <title>Scheduler Demo</title>
    <script src="../index.js"></script>
    <script src="../../availability/index.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const availability = document.querySelector("nylas-availability");
        const scheduler = document.querySelector("nylas-scheduler");

        availability.email_ids = [
          "phil.r@nylas.com",
          "chantal.l@nylas.com",
          "david.t@nylas.com",
          "hazik.a@nylas.com",
        ];
        availability.addEventListener("timeSlotChosen", (event) => {
          scheduler.slots_to_book = event.detail.timeSlots;
        });

        scheduler.addEventListener("bookedEvents", () => {
          scheduler.slots_to_book = [];
        });
      });
    </script>
    <style>
      body {
        padding: 0;
        margin: 0;
      }

      main {
        width: 80vw;
        margin-left: 10vw;
        height: 80vh;
        margin-top: 10vh;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100%;
        gap: 1rem;
      }
    </style>
  </head>

  <body>
    <main>
      <nylas-availability
        show_as_week="true"
        allow_booking="true"
        max_bookable_slots="8"
        id="phils-availability"
        editor_id="demo-schedule-editor"
        slot_size="15"
        view_as="list"
        start_hour="9"
        end_hour="17"
      >
      </nylas-availability>
      <nylas-scheduler
        id="demo-scheduler"
        editor_id="demo-schedule-editor"
      ></nylas-scheduler>
    </main>
  </body>
</html>
