<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta charset="UTF-8" />
    <title>Scheduler Demo</title>
    <script src="../index.js"></script>
    <script src="../../availability/index.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const availability = document.querySelector("nylas-availability");
        const scheduler = document.querySelector("nylas-scheduler");

        // availability.participants = ["nylascypresstest@gmail.com"];
        availability.events = [
          {
            event_title: "My Intro Meeting",
            event_description: "My test desc",
            slot_size: 15,
            email_ids: [
              "phil.r@nylas.com",
              "chantal.l@nylas.com",
              "hazik.a@nylas.com",
            ],
          },
          {
            event_title: "My Intro Meeting2",
            event_description: "My test desc",
            slot_size: 15,
            email_ids: ["hazik.a@nylas.com"],
          },
        ];
        availability.open_hours = [
          {
            startWeekday: 0,
            startHour: 12,
            startMinute: 30,
            endWeekday: 0,
            endHour: 16,
            endMinute: 0,
          },
          {
            startWeekday: 1,
            startHour: 9,
            startMinute: 0,
            endWeekday: 1,
            endHour: 17,
            endMinute: 0,
          },
          {
            startWeekday: 2,
            startHour: 9,
            startMinute: 0,
            endWeekday: 2,
            endHour: 17,
            endMinute: 0,
          },
          {
            startWeekday: 3,
            startHour: 9,
            startMinute: 0,
            endWeekday: 3,
            endHour: 17,
            endMinute: 0,
          },
          {
            startWeekday: 4,
            startHour: 9,
            startMinute: 0,
            endWeekday: 4,
            endHour: 17,
            endMinute: 0,
          },
          {
            startWeekday: 5,
            startHour: 9,
            startMinute: 0,
            endWeekday: 5,
            endHour: 17,
            endMinute: 0,
          },
          {
            startWeekday: 6,
            startHour: 11,
            startMinute: 30,
            endWeekday: 6,
            endHour: 15,
            endMinute: 0,
          },
        ];
        availability.addEventListener("timeSlotChosen", (event) => {
          scheduler.slots_to_book = event.detail.timeSlots;
        });

        scheduler.addEventListener("bookedEvents", () => {
          availability.reload(true, true);
        });

        availability.addEventListener("eventOptionsReady", (event) => {
          scheduler.event_options = event.detail.slots;
        });

        scheduler.addEventListener("eventOptionHovered", (event) => {
          availability.event_to_hover = event.detail.event;
        });
        scheduler.addEventListener("eventOptionUnhovered", (event) => {
          availability.event_to_hover = event.detail.event;
        });
        scheduler.addEventListener("eventOptionSelected", (event) => {
          availability.event_to_select = event.detail.event;
        });

        scheduler.recurrence_cadence = ["daily", "weekdays", "weekly"];
      });
    </script>
    <style>
      body {
        padding: 0;
        margin: 0;
        background: white;
        color: black;
      }

      main {
        width: 80vw;
        margin-left: 10vw;
        height: 80vh;
        margin-top: 10vh;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100%;
        gap: 1rem;
      }
    </style>
  </head>

  <body>
    <main>
      <nylas-availability
        show_as_week="true"
        allow_booking="true"
        id="phils-availability"
        slot_size="15"
        start_hour="9"
        end_hour="17"
        show_hosts="show"
        max_bookable_slots="8"
        closed_color="#999"
      >
      </nylas-availability>
      <nylas-scheduler id="phils-scheduler"> </nylas-scheduler>
    </main>
  </body>
</html>
