<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta charset="UTF-8" />
    <title>Scheduler Demo</title>
    <script src="../index.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const component = document.querySelector("nylas-scheduler");
        component.email_ids = ["nylascypresstest@gmail.com"];
      });
    </script>
    <style>
      body {
        padding: 0;
        margin: 0;
      }

      main {
        width: 80vw;
        margin-left: 10vw;
        height: 80vh;
        margin-top: 10vh;
      }
    </style>
  </head>
  <body>
    <main>
      <nylas-scheduler
        availability_id="demo-availability"
        id="demo-scheduler"
      ></nylas-scheduler>
    </main>
  </body>
</html>
