@import "../../../theming/reset.scss";
@import "../../../theming/variables.scss";

.drag-preview {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 5;

  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 8px #00000040;

  .drag-preview-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem;
    box-sizing: border-box;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }
}

button.drag {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--grey-warm);
  border-radius: 4px;

  &svg:nth-last-of-type(1) {
    margin-left: 0.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}
