@import "../../../components/theming/reset.scss";
@import "../../../theming/variables.scss";

.loader {
  width: calc(100% - 16px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  position: absolute;
}

main {
  font-family: system-ui, sans-serif;
  display: grid;
  grid-template-columns: 1fr 5px auto;
  gap: 1rem;
  padding: 0 1rem;

  .settings {
    resize: both;
    overflow: auto;
  }

  aside#preview {
    height: calc(100vh - 1rem);
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: auto 1fr 250px;
    gap: 1rem;
  }

  .gutter {
    background: #999;
    cursor: col-resize;
  }
}
section {
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
  .intro {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2rem;
  }
  .contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    margin-bottom: 24px;

    table {
      border-collapse: colapse;

      tr.add-new td {
        background-color: var(--grey-light);
      }
      th,
      td {
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        padding: 0.25rem;

        input[type="text"],
        select {
          padding: 0.25rem;
        }

        label {
          display: block;
          white-space: nowrap;
        }

        &.cta {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        button {
          &.add-custom-field {
            background-color: var(--blue);

            &:disabled {
              background-color: var(--grey-warm);
              cursor: not-allowed;
            }
          }
          &.remove {
            background-color: var(--red);
          }
        }
      }

      th {
        text-transform: capitalize;
        border-bottom: 2px solid black;
      }

      tr:last-child td {
        border-bottom: none;
      }
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 12px;
      input {
        padding: 12px;
      }
    }
    [role="radiogroup"],
    [role="checkbox"] {
      display: flex;
      flex-direction: column;
      gap: 12px;

      label {
        flex-direction: row;
      }
    }
    & > .available-hours {
      grid-column: -1 / 1;
    }
  }

  button {
    align-self: flex-end;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--blue);
    color: white;
    border: none;
    font-weight: 600;
  }

  &.basic-details .contents {
    grid-template-columns: 1fr;
    & > fieldset {
      border: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 1rem;
      gap: 1rem;
      background-color: var(--grey-background);

      .remove-event {
        grid-column: -1 / 1;
        justify-self: end;
      }
    }
  }
}

.warning {
  background-color: var(--red-lighter);
  border: 1px solid var(--red);
  color: var(--black);
  padding: 0.5rem;
  font-size: 0.9rem;
}

.availability-container {
  overflow: auto;
  height: 300px;
}

// Drag states
.custom-fields {
  tr {
    box-shadow: 0 0px 0px #00000040;
    opacity: 1;
    transition: box-shadow 0.15s ease-in, opacity 0 none 0.2s; // transition box-shadow instead
  }
  .drag-active {
    box-shadow: 0 2px 8px #00000040;
    opacity: 0;
  }
}
.drag-preview {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 5;

  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 8px #00000040;

  .drag-preview-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem;
    box-sizing: border-box;

    &:nth-last-of-type(1) {
      margin-left: auto;
    }
  }
}

button.drag {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--grey-warm);
  border-radius: 4px;

  &svg:nth-last-of-type(1) {
    margin-left: 0.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}
