@import "../../../theming/variables.scss";

.sr-only {
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.loader {
  width: calc(100% - 16px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  position: absolute;
}

main {
  font-family: system-ui, sans-serif;
  display: grid;
  grid-template-columns: 1fr 5px auto;
  gap: 1rem;
  // padding: 0 1rem;
  background: var(--grey-background);

  button {
    cursor: pointer;
  }

  .settings {
    resize: both;
    overflow: auto;
    display: grid;
    gap: 1rem;
    padding: 1rem;

    & > section {
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
      padding: 1rem;

      & > header {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: auto 100px;
        h1 {
          font-weight: bold;
          font-size: 1.5rem;
        }
      }

      &:not(.expanded) .intro,
      &:not(.expanded) .contents {
        display: none;
      }
    }

    .intro {
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 2rem;
    }
    .contents {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 24px;
      margin-bottom: 24px;

      table {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        grid-column: span 2;

        tr.disabled {
          opacity: 0.6;
          pointer-events: none;
        }

        &:not(.expanded) .intro,
        &:not(.expanded) .contents {
          display: none;
        }
        th,
        td {
          text-align: left;
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);
          padding: 0.25rem;
          min-height: 2rem;
          vertical-align: middle;

          &.title-and-description {
            &.flex {
              display: flex;
              flex-direction: column;
            }

            span {
              overflow: hidden;
              text-overflow: ellipsis;

              &.description {
                color: #6a7285;
                font-size: 14px;
                line-height: 20px;
              }
            }
          }

          &.type {
            text-transform: capitalize;
          }

          &.required * {
            margin-left: 1rem;
          }

          input[type="text"],
          select {
            padding: 0.25rem;
          }

        .intro {
          margin-top: 0;
          padding-top: 0;
          margin-bottom: 2rem;
        }
        .contents {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 24px;
          margin-bottom: 24px;

          button {
            &.edit {
              background-color: white;
              color: var(--blue);
              font-size: 16px;
              font-weight: normal;

              span {
                margin-left: 0.5rem;
              }

              &.cta {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

              button {
                &.add-custom-field {
                  background-color: var(--blue);

                  &:disabled {
                    background-color: var(--grey-warm);
                    cursor: not-allowed;
                  }
                }
                &.remove {
                  background-color: var(--red);
                }
              }
            }

            th {
              text-transform: capitalize;
              border-bottom: 2px solid black;
            }
          }

          label {
            display: flex;
            flex-direction: column;
            gap: 12px;
            input {
              padding: 12px;
            }
          }
          [role="radiogroup"],
          [role="checkbox"] {
            display: flex;
            flex-direction: column;
            gap: 12px;

            label {
              flex-direction: row;
            }
          }
          & > .available-hours {
            grid-column: -1 / 1;
          }
        }

      .edit-custom-field {
        margin: 0 1rem;

        div {
          margin: 0.5rem 2em;
          text-align: left;

          &.header {
            display: flex;
            justify-content: space-between;

            .delete {
              background-color: white;
              color: var(--red);
              flex: 0.25;
              font-size: 16px;
              font-weight: normal;
              margin-bottom: 0.8rem;

              span {
                margin-left: 0.5rem;
              }
            }
          }

          &.footer {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #dfe1e8;
            padding-top: 0.8rem;

            button {
              border-radius: 4px;
              font-size: 16px;
              font-weight: normal;
              padding: 0.8rem;

              &.cancel {
                border: 1px solid;
                background-color: white;
                color: var(--blue);
                padding: 0.8rem;
              }

              &.save {
                background-color: var(--blue);
                color: white;
              }

              span {
                margin: 0;
              }
            }
          }

          &.input-field label {
            display: flex;

            div {
              color: #636671;
              font-size: 14px;
              margin: 0 0 -0.4rem 0;
            }
            input,
            select {
              border-radius: 4px;
              border: 1px solid black;
              flex: 1;
              font-size: 16px;
              margin-bottom: 0.5rem;
              padding: 0.8rem;
            }

            &.select,
            &.checkbox {
              width: 25%;
            }

            &.checkbox {
              display: block;
              margin: 1rem 0;
            }
          }
        }
      }

      .add-custom-field {
        grid-column: span 2;
        text-align: center;

        button {
          background-color: white;
          color: var(--blue);
          font-size: 16px;
          font-weight: normal;

          span {
            margin-left: 0.5rem;
          }

          &:disabled {
            background-color: var(--grey-warm);
            cursor: not-allowed;
          }
        }
      }

      label {
        display: flex;
        flex-direction: column;
        gap: 12px;
        input {
          padding: 12px;
        }

        &.basic-details .contents {
          grid-template-columns: 1fr;
          & > fieldset {
            border: none;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            padding: 1rem;
            gap: 1rem;
            background-color: var(--grey-background);

            .remove-event {
              grid-column: -1 / 1;
              justify-self: end;
            }
          }
        }
      }
    }
  }

  aside#preview {
    height: calc(100vh - 1rem);
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: auto 1fr 250px;
    gap: 1rem;
  }

  .gutter {
    background: #999;
    cursor: col-resize;
  }
}

.warning {
  background-color: var(--red-lighter);
  border: 1px solid var(--red);
  color: var(--black);
  padding: 0.5rem;
  font-size: 0.9rem;
}

.availability-container {
  overflow: auto;
  height: 300px;
}

// Drag states
.custom-fields {
  tr {
    box-shadow: 0 0px 0px rgb(0 0 0 / 25%);
    opacity: 1;
    transition: box-shadow 0.15s ease-in, opacity 0 none 0.2s; // transition box-shadow instead
  }
  .drag-active {
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    opacity: 0;
  }
}

.drag-preview-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem;
  box-sizing: border-box;
}

button.drag {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: transparent;

  &svg:nth-last-of-type(1) {
    margin-left: 0.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}
