.nylas-composer {
  --background: #1c1c1c;
  --background-muted: #1c1c1c;
  --text: #fff;
  --text-light: #b0b0c0;
  --text-secondary: #ffffff;
  --font: lato, sans-serif;
  --font-size: 14px;
  --font-size-small: 12px;

  --border: #282828;
  --primary: #012cb4;
  --primary-light: #0037e5;
  --icons: #8e8e98;
  --header-background: var(--background);
  --danger: #ffffff;
  --danger-light: #ff5454;
}
