.nylas-composer {
  --composer-background-color: rgb(40, 43, 43);
  --composer-background-muted-color: #454949;
  --composer-text-color: #fff;
  --composer-text-light-color: #b0b0c0;
  --composer-text-secondary-color: #ffffff;
  --composer-font: lato, sans-serif;
  --composer-font-size: 14px;
  --composer-font-size-small: 12px;

  --composer-border-color: #282828;
  --composer-primary-color: #00c1a0;
  --composer-primary-light-color: #434343;
  --composer-primary-dark-color: #00a88b;
  --composer-icons-color: #8e8e98;
  --composer-header-background-color: var(--composer-background-color);

  --composer-success-color: white;
  --composer-success-light-color: var(--composer-primary-color);

  --composer-danger-color: #ffffff;
  --composer-danger-light-color: #ff5454;

  --composer-info-color: white;
  --composer-info-light-color: var(--composer-primary-light-color);
}
