.alert-bar {
  padding: var(--composer-outer-padding, 15px);
  text-align: center;
  font-size: var(--composer-font-size-small, 12px);
  border-bottom-left-radius: var(--composer-border-color, #f7f7f7);
  border-bottom-right-radius: var(--composer-border-radius, 6px);
}
.alert-bar__container {
  display: flex;
  align-items: center;
  justify-content: between;
}
.alert-bar__text {
  flex-grow: 1;
}
.alert-bar__close {
  outline: 0;
  border: 0;
  background: none;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
.alert-bar__close:hover {
  opacity: 1;
}
.alert-bar *:focus {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}
// Modifiers
.alert-bar.success {
  background: var(
    --composer-success-light-color,
    var(--composer-primary-color, #5c77ff)
  );
  color: var(--composer-success-color, var(--composer-background-color, white));
  .alert-bar__close {
    color: var(
      --composer-success-color,
      var(--composer-background-color, white)
    );
  }
}
.alert-bar.danger {
  background: var(--composer-danger-light-color, #ffe3e3);
  color: var(--composer-danger-color, #ff5c5c);
  .alert-bar__close {
    color: var(--composer-danger-color, #ff5c5c);
  }
}
.alert-bar.info {
  background: var(
    --composer-info-light-color,
    var(--composer-primary-light-color, #f0f2ff)
  );
  color: var(--composer-info-color, var(--composer-primary-color, #5c77ff));
  .alert-bar__close {
    color: var(--composer-info-color, var(--composer-primary-color, #5c77ff));
  }
}
