.wrapper {
  padding: 0.3rem 0;
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  color: var(--composer-text-color, black);
  font-weight: 700;
  background: var(--composer-background-muted-color, #f0f2ff);
  border-radius: var(--composer-border-radius, 6px);
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  flex-shrink: 0;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-info {
  display: flex;
  color: var(--composer-text-color, black);
  align-items: center;
  max-width: 90%;
}
.file-info__error {
  color: var(--composer-danger-color, #ff5c5c);
  font-size: var(--composer-font-size-small, 12px);
  margin-right: 5px;
}
.file-info__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  margin-left: 10px;
}

.file-item__size {
  flex-shrink: 0;
  word-break: keep-all;
  color: var(--composer-text-light-color, #6e6e7a);
  margin-left: 5px;
  font-size: var(--composer-font-size-small, 12px);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.LoadingIcon {
  fill: var(--composer-icons-color, #666774);
  width: 15px;
  height: 15px;
  animation: rotate 0.5s infinite linear;
}
.CloseIcon {
  fill: var(--composer-icons-color, #666774);
  width: 10px;
  height: 10px;
}
