.html-editor {
  min-height: var(--composer-editor-min-height, 220px);
  max-height: var(--composer-editor-max-height, 480px);
}
.html-editor *:focus {
  outline: 5px auto var(--composer-primary-color, #5c77ff);
}
a {
  color: var(--composer-primary-color, #5c77ff);
}
a:hover {
  color: var(--composer-primary-dark-color, #294dff);
}
.html-editor[contenteditable] {
  padding: var(--composer-outer-padding, 15px)
    var(--composer-outer-padding, 15px);
  margin: 0;
  outline: 0;
  line-height: 1.3;
  color: var(--composer-text-color, black);
  overflow-y: auto;
}
.toolbar {
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--composer-border-color, #f7f7f7);
  padding: 0 calc(var(--composer-outer-padding, 15px) / 2);
}
.toolbar button {
  color: var(--composer-text-light-color, #6e6e7a);
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  padding: 8px;
  margin: 2px;
  outline: 0;
  border-radius: calc(var(--composer-border-radius, 6px) / 2);
  transition: background-color 0.3s;
}

.toolbar button.active {
  background: var(--composer-background-muted-color, #f0f2ff);
}
.toolbar button:first-child {
  margin-left: 0;
}
.toolbar button:hover {
  background: var(--composer-background-muted-color, #f0f2ff);
}
