@import "../../../theming/reset.scss";
@import "../../../theming/variables.scss";

main {
  height: 100%;
  overflow: hidden;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 1;

  .booker {
    height: calc(100% - 2rem);
    overflow: auto;
    background: rgba(0, 0, 0, 0.03);
    padding: 1rem;

    h2 {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    & > p {
      opacity: 0.8;
      font-size: 0.9rem;
      line-height: 1.3rem;
      margin-bottom: 1rem;
    }

    .timeslots {
      display: grid;
      grid-auto-flow: row;
      gap: 1rem;
      margin-bottom: 1rem;

      li {
        background: rgba(255, 255, 255, 0.8);
        list-style-type: none;
        margin: 0;
        padding: 1rem;
        border: 1px solid #ebebeb;
        display: grid;
        gap: 0.5rem;
        grid-auto-flow: row;

        h3 {
          font-size: 0.8rem;
          opacity: 0.8;
        }
        .time {
          color: var(--blue);
        }
        .date {
          font-size: 0.8rem;
        }

        .sub-events {
          display: grid;
          gap: 1rem;
          font-size: 0.8rem;
        }

        .sub-event {
          background-color: var(--grey-light);
          padding: 0.5rem;
        }

        footer {
          display: grid;
          grid-auto-flow: row;
          gap: 0.5rem;
          padding: 1rem;
          margin: 1rem -1rem -1rem;
          font-size: 0.8rem;
          background: #eeeef5;
          strong {
            display: block;
          }

          .cadences,
          .expiry {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            label {
              padding: 0.25rem 0.5rem;
              transition: 0.1s;
              background-color: #fff;
              align-items: center;
              display: flex;
              gap: 0.5rem;
              cursor: pointer;
              &.checked {
                background-color: var(--blue);
                color: white;
              }
              input {
                padding-left: 5px;
                &.after {
                  width: 15%;
                }
              }

              span {
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }

    #custom-fields {
      display: grid;
      grid-auto-flow: row;
      gap: 1rem;
      margin-bottom: 1rem;

      label {
        display: grid;
        grid-auto-flow: row;
        gap: 0.5rem;
        strong {
          font-weight: bold;
          font-size: 0.8rem;
        }

        &[data-required="true"] strong:after {
          content: " (required)";
          font-weight: normal;
          opacity: 0.75;
          font-style: italic;
        }

        input[type="text"],
        input[type="email"] {
          padding: 0.5rem;
          font-size: 0.9rem;
        }
      }
    }

    button.book {
      background: var(--blue);
      color: white;
      padding: 0.5rem 2rem;
      cursor: pointer;

      &:disabled {
        background: var(--grey-dark);
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
