@import "../../theming/reset.scss";
@import "../../theming/variables.scss";
@import "../../theming/animation.scss";

$headerHeight: 40px;

main {
  height: 100%;
  overflow: hidden;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 1;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  &.ticked {
    grid-template-columns: 70px 1fr;
    &.timezone {
      grid-template-columns: 70px 70px 1fr;
    }
  }

  &.hide-header {
    $headerHeight: 0px;
    grid-template-rows: auto;

    & > header {
      display: none;
    }
  }

  & > header {
    grid-column: -1 / 1;
    display: grid;
    grid-template-columns: 1fr;
    align-items: baseline;

    &.dated {
      grid-template-columns: 1fr auto;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .change-dates {
      // grid-column: -1 / 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      button {
        background-color: #f7f7f8;
        border: 1px solid #e3e8ee;
        cursor: pointer;
        display: flex;
        &:hover {
          background-color: #e3e8ee;
        }
      }
    }

    .legend {
      padding: 0.5rem 0 0;
      color: #636671;
      span {
        display: inline-block;
        margin-right: 1rem;
        &::before {
          content: "";
          border-radius: 8px;
          height: 12px;
          width: 12px;
          margin-right: 0.25rem;
          display: inline-block;
          background-color: black;
        }

        &.available::before {
          background-color: var(--free-color, #36d2addf);
        }
        &.not-available::before {
          background-color: var(--busy-color, #36d2addf);
        }
        &.closed::before {
          background-color: var(--closed-color, #999);
        }
        &.partially-available::before {
          background-color: var(--partial-color, #ffff7566);
        }
      }
    }
  }
  .timezone-ticks {
    position: relative;
    .timezone {
      font-size: 0.8rem;
      left: 25%;
      position: absolute;
      top: 5px;
    }
  }

  .days {
    position: relative;
    display: grid;
    gap: 0rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    height: 100%;
    overflow: auto;
    &.loading {
      @include progress-bar(
        top,
        36px,
        left,
        0,
        var(--blue),
        var(--blue-lighter)
      );
    }
    &.timezone.loading {
      &::before,
      &::after {
        left: 180px;
      }
    }
    &.loading.error {
      @include progress-bar(top, 36px, left, 0, var(--red), var(--red));
      animation: none;
    }

    &.schedule {
      overflow: hidden;
    }
    &.list {
      .day {
        display: block;

        header {
          position: sticky;
          top: 0;
          margin-top: 0;
          background-color: white;
          height: $headerHeight;
          z-index: 2;
        }
      }
    }
  }

  .ticks {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    height: calc(100% - #{$headerHeight});
    list-style-type: none;
    margin: 0;
    padding: $headerHeight 0 0 0;
    overflow: hidden;
    font-size: 0.8rem;
    font-family: sans-serif;

    li {
      display: block;
      position: relative;
      height: auto;
      overflow: hidden;
      padding: 0 0.25rem;
      display: grid;
      justify-content: right;
    }
  }

  .day {
    display: grid;
    grid-template-rows: $headerHeight 1fr;
    position: relative;
    header {
      width: 100%;
      overflow: hidden;

      h2 {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rem;
        height: 30px;
        line-height: 1.875;
        font-size: 1rem;
        font-weight: 200;

        .date {
          border-radius: 15px;
          background: var(--blue);
          color: white;
          font-weight: bold;
          display: block;
          width: 30px;
          height: 30px;
          line-height: 1.875;
          text-align: center;
        }
      }
    }

    .epochs {
      position: absolute;
      top: $headerHeight;
      width: 100%;
      height: calc(100% - #{$headerHeight});
      .epoch {
        position: absolute;
        width: 100%;

        .inner {
          margin: 0rem;
          height: calc(100% - 0.5rem);
          padding: 0.25rem 0;
          width: 8px;
          // border-radius: 8px;
          margin: 0;
        }

        &.busy {
          $darkStripe: var(--busy-color-lightened);
          $lightStripe: white;

          background-image: linear-gradient(
            45deg,
            $darkStripe 12.5%,
            $lightStripe 12.5%,
            $lightStripe 50%,
            $darkStripe 50%,
            $darkStripe 62.5%,
            $lightStripe 62.5%,
            $lightStripe 100%
          );
          background-size: 5.66px 5.66px;
        }

        &.closed {
          $darkStripe: var(--closed-color-lightened);
          $lightStripe: white;

          background-image: linear-gradient(
            45deg,
            $darkStripe 12.5%,
            $lightStripe 12.5%,
            $lightStripe 50%,
            $darkStripe 50%,
            $darkStripe 62.5%,
            $lightStripe 62.5%,
            $lightStripe 100%
          );
          background-size: 5.66px 5.66px;
        }

        &.busy .inner {
          background-color: var(--busy-color, #ff647566);
        }
        &.closed .inner {
          background-color: var(--closed-color, #ff647566);
        }
        &.partial .inner {
          background-color: var(--partial-color, #ffff7566);
        }

        &.free .inner {
          background-color: var(--free-color, #36d2addf);
        }

        .available-calendars {
          display: none;
          position: absolute;
          z-index: 2;
          left: 10px;

          span {
            background: rgba(0, 0, 0, 0.5);
            display: inline-block;
            margin: 0;
            padding: 0.25rem;
            color: white;
            border-radius: 4px;
            font-size: 0.6rem;
            // font-weight: 700;
          }
        }
      }
    }

    &:hover .epoch.partial .available-calendars {
      display: block;
    }

    .slots {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: auto;
      height: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: none;

      .slot {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        background: transparent;
        position: relative;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-family: sans-serif;
        touch-action: none;

        &.selected {
          background-color: var(--selected-color, var(--blue));
          box-shadow: none;
          border-bottom: 1px solid transparent;
          z-index: 3;
          margin-left: 9px;
          margin-right: 1px;
        }

        &.pending {
          background-color: var(--selected-color-lightened);
          z-index: 3;
          margin-left: 9px;
          margin-right: 1px;
        }

        &.hovering {
          margin-left: 9px;
          margin-right: 1px;
          z-index: 3;
        }

        &.selected + .selected,
        &.pending + .pending {
          z-index: 2;
        }

        &.busy:not(.pending),
        &.closed:not(.pending) {
          cursor: not-allowed;
          margin-left: 8px;
        }

        .selected-heading {
          position: absolute;
          top: 3px;
          left: 0;
          color: white;
          text-shadow: 1px 1px 2px #002db4ff;
          font-weight: 300;
          // background: var(--blue);
          padding: 0 3px;
          // width: calc(100% - 6px);
          font-size: 0.8rem;
          z-index: 3;
          text-align: left;
          font-family: system-ui, sans-serif;
        }

        &.pending .selected-heading {
          width: auto;
        }
        &.hovering:not(.selected) .selected-heading {
          color: var(--selected-color);
          text-shadow: none;
          top: 0;
        }
      }
    }

    .slot-list {
      display: grid;
      grid-auto-rows: 50px;
      grid-auto-flow: row;
      overflow: auto;
      gap: 0.25rem;
      list-style-type: none;
      margin: 0;
      padding: 0;

      .slot {
        border-radius: 4px;
        background: transparent;
        position: relative;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-family: sans-serif;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: none !important;

        @media (hover: hover) and (pointer: fine) {
          // prevents touch-deselect hover state color
          &:hover {
            box-shadow: none;
            background-color: rgba(0, 0, 0, 0.1);
          }
        }

        &.selected {
          background: var(--blue);
          color: white;
        }

        .partial {
          display: block;
          font-size: 0.6rem;
        }
      }
    }
  }
  button.confirm {
    grid-column: -1 / 1;
  }

  &.allow_booking {
    .slot:not(.busy):hover,
    .slot:not(.busy):focus,
    .slot:not(.closed):hover,
    .slot:not(.closed):focus {
      box-shadow: 0 0 1px 0 var(--selected-color);
      cursor: pointer;
    }
  }

  .attendee-overlay {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 14px 0 black;
    display: none;
    font-size: 14px;
    max-width: 12rem;
    padding: 1.2rem 1rem;
    position: absolute;
    z-index: 3;

    &::before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      position: absolute;
      left: 5.5rem;
      top: -10px;
    }

    &.invert-y {
      &::before {
        display: none;
      }

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
        position: absolute;
        left: 5.5rem;
        bottom: -10px;
      }
    }

    .attendee-list {
      .contact {
        display: grid;
        grid-template-columns: 40px auto;
        padding: 0.6rem 0;

        &.divider {
          border-bottom: 1px solid #979797;
        }

        &.unavailable {
          filter: grayscale(80%);
          opacity: 50%;
        }

        .default-avatar {
          background: #002db4;
          border-radius: 50%;
          color: #fff;
          font-family: sans-serif;
          font-size: 1rem;
          font-weight: bold;
          height: 32px;
          line-height: 35px;
          text-align: center;
          text-transform: uppercase;
          width: 32px;
        }

        .contact-details {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          .name {
            font-weight: bold;
            display: block;
          }
        }
      }
      .icon {
        position: relative;
        top: -1.3rem;
        left: 1.2rem;
        height: 0;
        width: 0;
      }
    }
    .more-attendees {
      font-weight: bold;
      display: inline-block;
      padding-top: 1rem;
    }
  }
}
