<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta charset="UTF-8" />
    <title>Mailbox Demo</title>
    <link rel="shortcut icon" href="data:;base64,=" />
    <script src="../index.js"></script>
    <script type="module">
      import { thread1, thread2 } from "./test-data.js";
      document.addEventListener("DOMContentLoaded", function () {
        const mailbox = document.querySelector("nylas-mailbox");

        // enable `header="string"` and click refresh button
        // mailbox.addEventListener("refreshClicked", function (event) {
        //   mailbox.all_threads = [...mailbox.all_threads, thread2];
        // });

        // mailbox.all_threads = [thread1]; // enable to overwrite thread_id fetching
        mailbox.actions_bar = ["selectall", "star", "delete", "unread"];
        mailbox.show_star = true;
        // mailbox.keyword_to_search = "Hi";
        // mailbox.query_string = "in=inbox from=tips@nylas.com";

        // setTimeout(() => mailbox.items_per_page = 10, 5000)
      });
    </script>
  </head>

  <body>
    <nylas-mailbox id="demo-mailbox" header="Mailbox" show_star="true" />
  </body>
</html>
