<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta charset="UTF-8" />
    <title>Mailbox Demo</title>
    <link rel="shortcut icon" href="data:;base64,=" />
    <script src="../index.js"></script>
    <script src="../../composer/index.js"></script>
    <style>
      .composer {
        z-index: 999;
      }

      .composer.hidden {
        display: none;
        height: 0;
      }

      .composer.active {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        height: unset;
        width: 100%;
        transition: height 0.125s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    </style>
    <script type="module">
      import { thread1, thread2 } from "./test-data.js";
      document.addEventListener("DOMContentLoaded", function () {
        const mailbox = document.querySelector("nylas-mailbox");

        mailbox.addEventListener("returnToMailbox", (event) => {
          console.log("returnToMailbox", event.detail);
        });
        // enable `header="string"` and click refresh button
        // mailbox.addEventListener("refreshClicked", function (event) {
        //   mailbox.all_threads = [...mailbox.all_threads, thread2];
        // });

        // mailbox.all_threads = [thread1]; // enable to overwrite thread_id fetching
        mailbox.actions_bar = ["selectall", "star", "delete", "unread"];
        mailbox.show_star = true;
        mailbox.show_reply = true;
        mailbox.show_reply_all = true;

        const composer = document.querySelector("nylas-composer");
        composer.show_header = true;
        composer.show_minimize_button = false;
        composer.show_from = false;
        composer.show_bcc = false;
        composer.show_cc = false;
        composer.reset_after_send = true;
        composer.reset_after_close = true;
        composer.close();

        composer.afterSendSuccess = async (data) => {
          composer.close();
          composer.classList.remove("active");
          composer.classList.add("hidden");
        };

        mailbox.addEventListener("replyClicked", (v) => {
          composer.classList.remove("hidden");
          composer.classList.add("active");

          const c = v.detail;
          console.log(c.value);
          composer.value = c.value;
          composer.from = c.value.from;
          composer.to = c.value.to;

          composer.open();
        });

        mailbox.addEventListener("replyAllClicked", (v) => {
          composer.classList.remove("hidden");
          composer.classList.add("active");

          const c = v.detail;
          console.log(c.value);
          composer.value = c.value;
          composer.from = c.value.from;
          composer.to = c.value.to;

          composer.open();
        });
      });
    </script>
  </head>

  <body>
    <nylas-mailbox
      id="demo-mailbox"
      header="Mailbox"
      show_star="true"
    ></nylas-mailbox>
    <nylas-composer
      id="demo-composer"
      class="composer"
      show_header="true"
      show_subject="true"
    >
    </nylas-composer>
  </body>
</html>
